<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
  <ion-grid>
  <ion-row>
    <ion-col>
      <p  class="header-text" >Call :<a class="contact-info" > 9382023890</a> </p>
    </ion-col>
    <ion-col>
      <p class="header-text">Email :<a class="contact-info" > sample@gmail.com</a> </p>
    </ion-col>
    <ion-col>
      <p  class="header-text">Timing :<a class="contact-info"> 8:00am to 10:00pm</a> </p>
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
  </ion-row>
  </ion-grid>



      
    
      
    

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
